In [2]:
import numpy as np
import pandas as pd

In [3]:
# Read the files
movies = pd.read_excel('movies.xlsx')

# View the DataFrame
movies.head()

,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime
0,Inception,2010,13+,8.8,0.87,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,The Matrix,1999,18+,8.7,0.87,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,Avengers: Infinity War,2018,13+,8.5,0.84,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,Back to the Future,1985,7+,8.5,0.96,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,"The Good, the Bad and the Ugly",1966,18+,8.8,0.97,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [ ]:
movies.shape

In [ ]:
movies.dtypes

In [ ]:
# Read the files
ott = pd.read_csv('ott.csv')

# View the DataFrame
ott.head

In [ ]:
ott.shape

In [ ]:
ott.dtypes

In [4]:
# Calculate the sum of the missing data in the Age column
movies['Age'].isnull().sum()

9390

In [ ]:
# Assign specific values to the missing values in the Age column
movies['Age'][movies['Age'].isna()] = 'Others'
                     
movies['Age'].isnull().sum()

In [ ]:
movies['Directors'][movies['Directors'].isna()] = "Others"

movies['Genres'][movies['Genres'].isna()] = "Others"

movies['Country'][movies['Country'].isna()] = "Others"

movies['Language'][movies['Language'].isna()] = "Others"

In [8]:
# Identify missing values for the IMDb and Rotten Tomatoes rating columns.
movies['Rotten Tomatoes'].isnull().sum()

571

In [9]:
movies['IMDb'].isnull().sum()

571

In [10]:
# Replace the null values for both the columns with mean using inplace=True.
movies['IMDb'].fillna(movies['IMDb'].mean(),inplace=True)

movies['Rotten Tomatoes'].fillna(movies['Rotten Tomatoes'].mean(),inplace=True)

# Check the data to see if there are any more null values identified in the DataFrames.

print(movies['IMDb'].isnull().sum())

print(movies['Rotten Tomatoes'].isnull().sum())

0
0