# 2.1.10 Practical activity: Importing data

In [3]:
import numpy as np
import pandas as pd

In [4]:
# Read the files
movies = pd.read_excel('movies.xlsx')

# View the DataFrame
movies.head()

,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime
0,Inception,2010,13+,8.8,0.87,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,The Matrix,1999,18+,8.7,0.87,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,Avengers: Infinity War,2018,13+,8.5,0.84,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,Back to the Future,1985,7+,8.5,0.96,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,"The Good, the Bad and the Ugly",1966,18+,8.8,0.97,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [5]:
movies.shape

(16744, 10)

In [6]:
movies.dtypes

Title               object
Year                 int64
Age                 object
IMDb               float64
Rotten Tomatoes    float64
Directors           object
Genres              object
Country             object
Language            object
Runtime            float64
dtype: object

In [7]:
# Read the files
ott = pd.read_csv('ott.csv')

# View the DataFrame
ott.head

<bound method NDFrame.head of           ID  Netflix  Hulu  Prime Video  Disney+
0          1        0     0            1        0
1          2        0     1            0        0
2          3        0     0            1        0
3          4        1     0            0        0
4          5        0     0            1        0
...      ...      ...   ...          ...      ...
16739  16740        0     0            1        0
16740  16741        0     0            1        0
16741  16742        0     0            1        0
16742  16743        0     0            1        0
16743  16744        1     0            0        0

[16744 rows x 5 columns]>

In [8]:
ott.shape

(16744, 5)

In [9]:
ott.dtypes

ID             int64
Netflix        int64
Hulu           int64
Prime Video    int64
Disney+        int64
dtype: object

# 2.2.8 Practical activity: Handle the missing data

In [10]:
# Calculate the sum of the missing data in the Age column
movies['Age'].isnull().sum()

9390

In [11]:
# Assign specific values to the missing values in the Age column
movies['Age'][movies['Age'].isna()] = 'Others'
                     
movies['Age'].isnull().sum()

C:\Users\lxmas\AppData\Local\Temp\ipykernel_15980\747296980.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Age'][movies['Age'].isna()] = 'Others'

0

In [12]:
movies['Directors'][movies['Directors'].isna()] = "Others"

movies['Genres'][movies['Genres'].isna()] = "Others"

movies['Country'][movies['Country'].isna()] = "Others"

movies['Language'][movies['Language'].isna()] = "Others"

C:\Users\lxmas\AppData\Local\Temp\ipykernel_15980\3164004631.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Directors'][movies['Directors'].isna()] = "Others"
C:\Users\lxmas\AppData\Local\Temp\ipykernel_15980\3164004631.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Genres'][movies['Genres'].isna()] = "Others"
C:\Users\lxmas\AppData\Local\Temp\ipykernel_15980\3164004631.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Country'][movies['Country'].isna()] = "Others"
C:\Users\lxmas\AppData\Local\Temp\ipykernel_15980\3164004631.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Language'][movies['Language'].isna()] = "Others"

In [13]:
# Identify missing values for the IMDb and Rotten Tomatoes rating columns.
movies['Rotten Tomatoes'].isnull().sum()

11586

In [14]:
movies['IMDb'].isnull().sum()

571

In [15]:
# Replace the null values for both the columns with mean using inplace=True.
movies['IMDb'].fillna(movies['IMDb'].mean(),inplace=True)

movies['Rotten Tomatoes'].fillna(movies['Rotten Tomatoes'].mean(),inplace=True)

# Check the data to see if there are any more null values identified in the DataFrames.

print(movies['IMDb'].isnull().sum())

print(movies['Rotten Tomatoes'].isnull().sum())

0
0

# 2.3.6 Practical activity: Filter the data

In [19]:
# 1.Determine the column names and data types of the DataFrame

movies.info()

ott.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16744 entries, 0 to 16743
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Title            16744 non-null  object
 1   Year             16744 non-null  int64
 2   Age              16744 non-null  object
 3   IMDb             16744 non-null  float64
 4   Rotten Tomatoes  16744 non-null  float64
 5   Directors        16744 non-null  object
 6   Genres           16744 non-null  object
 7   Country          16744 non-null  object
 8   Language         16744 non-null  object
 9   Runtime          16152 non-null  float64
dtypes: float64(3), int64(1), object(6)
memory usage: 1.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16744 entries, 0 to 16743
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           16744 non-null  int64
 1   Netflix      16744 non-null  int64
 2   Hulu         16744 non-null  int64
 3   Prime Video  16744 non-null  int64
 4   Disney+      16744 non-null  int64
dtypes: int64(5)
memory usage: 654.2 KB

In [22]:
# 2.Filter the DataFrame to only work with the numeric variables. 

movies_num = movies.select_dtypes('number')

movies_num = movies_num.drop('Year', axis = 1)

movies_num

           IMDb  Rotten Tomatoes  Runtime
0      8.800000         0.870000    148.0
1      8.700000         0.870000    136.0
2      8.500000         0.840000    149.0
3      8.500000         0.960000    116.0
4      8.800000         0.970000    161.0
...         ...              ...      ...
16739  6.200000         0.654285    120.0
16740  4.700000         0.654285     90.0
16741  5.700000         0.654285      NaN
16742  6.600000         0.654285      NaN
16743  5.902751         0.654285     32.0

[16744 rows x 3 columns]

In [27]:
# 3.Calculate the IQR (Q1 and Q3) of each column, except the Year column

# Calculate Q1 and Q3.
Q1 = movies_num.quantile(0.25)
Q3 = movies_num.quantile(0.75)

# View the output
print(Q1)
print(Q3)

1.8000000000000007
0.0
22.0
IMDb                5.100000
Rotten Tomatoes     0.654285
Runtime            82.000000
Name: 0.25, dtype: float64
IMDb                 6.900000
Rotten Tomatoes      0.654285
Runtime            104.000000
Name: 0.75, dtype: float64

In [28]:
# Calculate the IQR.
IQR = Q3 - Q1

# View the output.
print(IQR)

IMDb                1.8
Rotten Tomatoes     0.0
Runtime            22.0
dtype: float64

In [29]:
# Determine the descriptive statistics.
movies_num.describe()

               IMDb  Rotten Tomatoes       Runtime
count  16744.000000     16744.000000  16152.000000
mean       5.902751         0.654285     93.413447
std        1.324684         0.147707     28.219222
min        0.000000         0.020000      1.000000
25%        5.100000         0.654285     82.000000
50%        6.000000         0.654285     92.000000
75%        6.900000         0.654285    104.000000
max        9.300000         1.000000   1256.000000